### [도전과제]

-아래는 백화점 고객의 1년 간 구매 데이터이다.

- (가) 제공 데이터 목록
    - y_train.csv : 고객의 성별 데이터 (학습용), CSV 형식의 파일
    - X_train.csv, X_test.csv : 고객의 상품구매 속성 (학습용 및 평가용), CSV 형식의 파일
- (나) 데이터 형식 및 내용
    - y_train.csv (3,500명 데이터)
    - X_train.csv (3,500명 데이터), X_test.csv (2,482명 데이터)</BR></BR>

- 고객 3,500명에 대한 학습용 데이터(y_train.csv, X_train.csv)를 이용하여 성별예측 모형을 만든 후, 이를 평가용 데이터(X_test.csv)에 적용하여 얻은 2,482명 고객의 성별 예측값(남자일 확률)을 다음과 같은 형식의 CSV 파일로 생성하시오.(제출한 모델의 성능은 ROC-AUC 평가지표에 따라 채점)

custid,gender
3500,0.267
3501,0.578
3502,0.885
․ ․ ․


- 성능이 우수한 예측모형을 구축하기 위해서는 적절한 데이터 전처리, Feature Engineering, 분류 알고리즘 사용, 초매개변수 최적화, 모형 앙상블 등이 수반되어야 한다

In [5]:
import pandas as pd
X_train = pd.read_csv('C:\cakd5\workspace\m6_머신러닝알고리즘이해및활용\dataset/X_train.csv', encoding ='CP949')
X_train.head()

,cust_id,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기
0,0,68282840,11264000,6860000.0,기타,강남점,19,3.894737,0.527027,17
1,1,2136000,2136000,300000.0,스포츠,잠실점,2,1.500000,0.000000,1
2,2,3197000,1639000,NaN,남성 캐주얼,관악점,2,2.000000,0.000000,1
3,3,16077620,4935000,NaN,기타,광주점,18,2.444444,0.318182,16
4,4,29050000,24000000,NaN,보석,본 점,2,1.500000,0.000000,85

In [7]:
X_train.info() # 환불 금액에 null값이 많다는건 환불을 그 만큼 안했다는 의미

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  3500 non-null   int64
 1   총구매액     3500 non-null   int64
 2   최대구매액    3500 non-null   int64
 3   환불금액     1205 non-null   float64
 4   주구매상품    3500 non-null   object
 5   주구매지점    3500 non-null   object
 6   내점일수     3500 non-null   int64
 7   내점당구매건수  3500 non-null   float64
 8   주말방문비율   3500 non-null   float64
 9   구매주기     3500 non-null   int64
dtypes: float64(3), int64(5), object(2)
memory usage: 273.6+ KB

In [12]:
# 0이 여성 Negative, 1이 남성(Positive)
y_train = pd.read_csv('C:\cakd5\workspace\m6_머신러닝알고리즘이해및활용\dataset/y_train.csv', encoding='CP949')
y_train.head()

   cust_id  gender
0        0       0
1        1       0
2        2       1
3        3       1
4        4       0